.footer {
    margin-bottom: 60px;

    .footer-container {
        background: none;
    }

    .social-links {
        display: flex;
        list-style-type: none;

        li {
            margin-right: 20px;
        }
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 120px;
    }
}