.form {
    border-radius: 6px;
    padding: 30px 20px 40px;
    background: var(--primaryBg);
    border: 3px solid var(--secondaryBg);
    border-top: 2px solid var(--accent);

    input,
    textarea {
        caret-color: var(--accent);
    }

    .field {
        margin-bottom: 12px;
    }

    .label {
        display: block;
        margin-bottom: 6px;
    }

    .input {
        display: block;
        width: 100%;
        max-width: 100%;
        border: none;
        border: 2px solid var(--secondaryBg);
        border-bottom: 2px solid var(--primaryBorder);
        border-radius: 6px;
        padding: 8px;
        background: var(--secondaryBg);
        transition: .2s cubic-bezier(0.165, 0.84, 0.44, 1);
        font-size: 14px;

        &:focus {
            background: var(--secondaryBgDark);
            border-bottom: 2px solid var(--accent);
            outline: none;
        }
    }

    .btn {
        &.submit {
            height: 40px;
        }
    }

    span {
        font-size: 14px;
    }

    .input-error {
        color: var(--error);
        font-size: 12px;
        padding-top: 8px;
    }
}
