.svg-inline--fa {
  a &,
  button & {
    width: 16px;
    height: 16px;
    padding-right: 6px;
    pointer-events: none;
  }

  @media screen and (max-width: 767px) {
    a &,
    button & {
      width: 12px;
      height: 12px;
    }
  }
}