:root {
  --primaryBg: #1f1f1f;
  --secondaryBg: #222222;
  --ternaryBg: #1c1c1c;
  
  --primaryBgLight: #272727;
  --secondaryBgLight: #2e2e2e;
  --ternaryBgLight: #1c1c1c;
  
  --primaryBgDark: #1f1f1f;
  --secondaryBgDark: #202020;
  --ternaryBgDark: #1b1b1b;
  
  --primaryBorder: #333333;
  --accent: #e6bf3e;
  
  --primaryText: #dddddd;
  --secondaryText: #383838;
  
  --white: #ffffff;
  --black: #000000;

  --primaryBackdrop: rgba(0, 0, 0, 0.384); 
  --primaryShadow: rgba(0, 0, 0, 0.2);

  --error: #e72626;
}